useDynLib(MeshDataSimplification)
exportPattern("^[[:alpha:]]+")
import(methods, Rcpp)
export(setup.simplification, setup.simplification.from.file, run.simplification)
export(get.nodes, get.edges, get.triangles, get.data.locations, get.observations, get.quantity.of.information)
